.about {
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding: 0 15px;
        padding-bottom: 30px;
    }
    &-numbers {
        padding: 0 20px;
    }
    &__description {
        font-size: 19px;
        line-height: 30px;
        color: #000000;
        padding-bottom: 30px;
        padding: 0 15px;
    }
    &-nambers__wrap {
        border-left: 4px solid #E6E6F0;
        padding-left: 30px;
       
    }
    &-numbers__description {
        font-size: 16px;
        line-height: 20px;
        color: #323264;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    &-team {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
   
    &-team__photo {
        background-color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        background-image: url(../img/team-s.png);
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
        padding-top: 30px;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 13px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.8;
        text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
    }

    &-team__description {
        font-size: 19px;
        line-height: 30px;
        color: #000000;
        padding-top: 30px;
        padding: 0 20px;
        }
    &-team__resolution {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-top: 30px;
        margin-bottom: 60px;
        padding: 0 15px;

        }
        &-achivements__color {
            background-color: #F5F5FA;
            padding: 30px;
        }
        &-achivements__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #323264;
            text-align: center;
            margin-bottom: 30px;
        }
        &-achivements__list {
            display: flex;
            flex-direction: column;
            align-self: center;

        }
        &-achivements__wrap {
            background-image: url(../img/achive-1.png);
            background-repeat: no-repeat;
            background-position: center center;
            display: flex;
            align-self: center;
            padding: 10px;
            width: 225px;
            height: 90px;
            background-color: #fff;
            border-radius: 12px;
            margin-bottom: 30px;
        }

        &-achivements__item-1 {
            text-align: center;
        }

        &-achivements__item-2,
        &-achivements__ietm-3,
        &-achivements__ietm-4 {
            display: none;  
        }
    }
@media  screen and (min-width: 768px){
    .about-contacts { 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column: 1 / -1;
        row-gap: 40px;
    }        
    .about {
        padding-top: 60px;
        padding-bottom: 30px;

            
 
//     &__address,
//     &__social {
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//     }
       
//     &__address{
//         margin-top: 30px;
//         align-self: center;
//     }
//     &__address-map {
    
//     }
//     &__address-address {
//         align-self: center;
//     }
//     &__address {
//         margin-left: 10px;
//     }

//    &__address-address::after{
//         content: "";
//         display: inline-block;
//         width: 6px;
//         height: 6px;
//         border-radius: 50%;
//         background: #B3B3BA;
//         align-self: center;
//         margin: 0 10px;
//         align-self: center;
//     }
//     &__social-fb {
//         margin-left: 10px;
//         align-self: center;

//     }
//     &__social-phone::after{
//         content: "";
//         display: inline-block;
//         width: 6px;
//         height: 6px;
//         border-radius: 50%;
//         background: #B3B3BA;
//         align-self: center;
//         margin: 0 10px;
//         align-self: center
//     }
//     &__social-phone::before {
//         content: "";
//         display: inline-block;
//         width: 6px;
//         height: 6px;
//         border-radius: 50%;
//         background: #B3B3BA;
//         align-self: center;
//         margin: 0 10px;
//         align-self: center
    
//     }
//     &__social-fb {
//         display: inline-block;
//         margin: 0;
//     }
//     &__address-map,
//     &__social-mail,
//     &__social-phone {
//         align-self: center;
//     }
    &-team__photo {
        background-color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        background-image: url(../img/team-l.png);
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: cover;
        width: 100%;
        height: 100%;
        align-self: center;
        padding-bottom: 90px;
        padding-top: 90px;
        font-size: 46px;
        line-height: 56px;
        font-weight: 700;
        letter-spacing: 63px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.8;
        text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);       
}

}
}
@media  screen and(min-width: 992px) {
    .about-contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, min-content);
       

    &__address {
        justify-self: start;
        grid-column: 1 / -1;
}
    &__social {
        justify-content: flex-start;

}
    &__copyright {
        grid-column: 1 / 2;

}
}  
.about-wrap {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    
}
.about {
    padding-top: 0;
    padding-left: 60px;
    width: 486px;

&-numbers {
    padding-right: 60px;
    width: 388px
}
&-team {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

}
&-team__photo {
    background-color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-image: url(../img/team-l.png);
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-self: center;
    padding-bottom: 90px;
    padding-top: 90px;
    font-size: 86px;
    line-height: 105px;
    font-weight: 700;
    letter-spacing: 63px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);

}
&-team__description-wrap {
    display: flex;
    justify-content: center;
}
&-team__description{
    width: 56%;
    padding-right: 60px;
}
&-team__resolution {
    width: 40%;
    padding-left: 60px;
    margin-top: 0;
}

&-team__description-wrap {
    margin-top: 60px;
    margin-bottom: 60px;
}
}
}
.numbers--pad {
    padding-bottom: 0;
}
.contacts__copyright-copy {
    grid-column: 2 / 3;
    grid-row: 1 /2;
}