* {
    box-sizing: border-box;
    margin: 0;
}
.body {
    font-family: 'Montserrat','Arial' sans-serif;
    font-weight: 400;
    font-style: normal ;
    min-width: 375px;
}
.visual-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.img-responsive {
    min-width: 100%;
    height: auto;

}
// .container {
//     max-width: 1206px;
//     min-width: 375px;
//     margin: 0 auto;
//     padding: 0 15px;
// } 